body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:black;
    background-color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
}

.firstTitle {
    width: 100%;
    height: 50%;
    font-size: 50px;
    text-align: left;
    padding-left: 120px;
    display: flex;
    color:black;
    text-shadow: 1px 1px 5px rgb(244, 244, 97);
}

.logo {
    width: 100px;
    height: auto;
    position:absolute;
}

.secondT {

    text-align: center;
    margin:0;

}

.secondTitle {
    font-size: 30px;
    font-weight: bold;
    color:rgb(135, 3, 3);
}

.containerOne {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: right;
    margin: 30px;
    padding-right:50px;
    top:6%;
   
}

.containerOne a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    margin: 0 20px;
    border-radius: 5px;
    background-color:rgb(244, 244, 97);
    padding:10px;

}
a:hover{
    color:whitesmoke;
    background-color:rgb(135, 3, 3);

}

.containerTwo {
    background-image: url(img/hockey2.jpg);
    display:inline-block;
    width: 100%;
    height:50%;
    text-align: justify;
}
article{
    padding-left: 10%;
    padding-bottom: 10%;
}
.email {
    font-size: 22px;
    
}

.date{
    color:rgb(135, 3, 3);
}
.date:hover{
    color: rgb(5, 5, 219);
}
.gmail{

    color:rgb(135, 3, 3);

}
.gmail:hover{
    text-decoration:none;
    color:rgb(244, 244, 97) ;
    

}

h3{
    padding:15px 25px 15px 15px;
}

.about{
    color:rgb(135, 3, 3);
    padding:15px 25px 15px 15px;
}
.about:hover{
    color: rgb(5, 5, 219);
}

footer {
    background-image: url(img/hockey3.jpg);
    width: 100%;
    text-align: center;
    padding: 20px;
    color:whitesmoke;
}

.copyrigth {
    font-size: 14px;
    margin: 0;
}

