body {
    background-color: white;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  .container-fluid{
    justify-content: start!important;
    padding-right: 3%!important;
    padding-left: 3%!important;
  }
  .logo{
    margin-left: 2%;
    margin-right: 2%;  
  }
  .logo.img {
    width: 40px;
    height: 40px; 
  }
  h2{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
   font-size: 35px !important;
   font-weight: bold !important;
   color:black!important;
   text-shadow:  3px 3px 4px #f7ed37!important;
   padding-left: 6% !important;
  }
  h2:hover{
    color: #f7ed37 !important;
    text-shadow: 2px 2px 4px black!important;
    transform: scale(1.10)!important; 
    transition: all 0.5s!important; 
  }
  a{
    margin: 0 8px;
    font-size: 17px;
    font-weight: bold;
    color: black!important;
    text-shadow: 1px 1px 2px #f7ed37;
    text-decoration: none; 
  }
  a:hover{
    color:rgb(179, 16, 16)!important;
    transform: scale(1.30)!important; 
    transition: all 0.5s!important; 
  } 
  button{
    background-color: #f7ed37!important;
  }
  .navbar-toggler.collapsed{
    background-color: #f7ed37!important;
    transition: none!important;
    border-color: rgb(179, 16, 16)!important;
  }
  .navbar-nav{
    display:flex;
    justify-content: space-between!important;
    flex-direction: row!important;
  }
  .second-title {
    margin: 0;
  }
  .nav.justify-content-center-secondT{
    font-size: 30px;
    background-color: #f7ed37;
    color:#333;
    /* padding:30px; */
    margin:0;
    display: flex;
    justify-content:center;
  } 
  .container{
    display:flex;
    justify-content: space-evenly;
    padding-top: 25px;
  } 
  .card-img-top{
    object-fit: cover!important;
  }
  .card-header{
    background-color:rgb(179, 16, 16)!important ;
    color:whitesmoke!important;
  }
  .card-title-about{
    background-color: rgb(179, 16, 16);
    color:white
  }
  .hockey{
    width: 50%;
    max-width: 500px;
    box-shadow: 5px 5px 5px rgb(96, 96, 96);
    padding:0;
    margin:0;
  }
  .containerTwo{
    width: 50%;
    max-width: 500px;
    padding:20px;
    margin:0;
  }
  .date {
    color: rgb(179, 16, 16);
    font-size: 24px;
    margin: 20px 0;
  }
  .rules{
    padding:40px;
    justify-content: center;
  }
  .rules_title{
    color: rgb(179, 16, 16);
    font-weight: bold;
  }
  .table_games{
    align-items: center;
    border-collapse:initial;
    color: black;
    background-color:white;
    display:flex;
    font-size: 20px;
    justify-content: center;
    margin:5px;
    padding:15px;
  }
  .additional_information{
    padding:15px;
    display:flex;
    justify-content: center;
  }
  th{
    color:white;
    background-color:rgb(179, 16, 16);
    padding:5px;
  }
  tr{
    background-color:white;
    color:black;
    text-align: center;
  }
  td{
    padding:5px;
    text-align: start;
    border:solid 1px rgb(179, 16, 16);
  }
  iframe{
    max-width: 400px;
    max-height:400px;
  }
  .gmail{
    color:#333;
    font-size: 50px;
  }
  .gmail:hover{
    text-decoration:none;
    color:rgb(135, 3, 3);
  } 
  form {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #f7ed37;
  }
  legend{
    font-weight: bold;;
  }
  fieldset{
    padding:5px;
  }
  input[type="text"],
  input[type="date"],
  select {
   width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(179, 16, 16);
    border-radius: 5px;
  }
  input[type="submit"] {
    width: 50%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color:whitesmoke;
    color: rgb(179, 16, 16);
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 25%;
  }
  input[type="submit"]:hover {
    background-color:black;
    transform: scale(1.30); 
    transition: all 0.5s; 
  }
  .data-base{
    color: black;
    background-color:#f7ed37;
  }
  .navbar-brand-footer{
    font-size: 18px;
    margin-top: 40px;
    padding:20px;
    justify-content: center;
    align-items: center;
    color: rgb(179, 16, 16);
  }
  h5{
    padding:3%;
  }
  .container{
    padding: 5%;
  }